.accordion {
  border: 5px dotted blue;
  padding: 10px;

  &:hover .accordion__title {
    color: yellow;
  }

  span {
    color: #fff;
  }

  &__title {
    font-weight: bold;
  }

  &__title__icon {
    &--red {
      color: red;

      &:hover {
        color: yellow;
      }
    }
  }

  &__body {
    color: red;
  }
}