<template>
    <div class="colors">
        <div v-for="(prop, index) in colors" :key="index" class="color">
            <div class="swatch" :style="{ backgroundColor: prop }"></div>
            <h3>${{ index.replace(/_/g, "-") }}</h3>
            <span>
            <em>RGB:</em>
            {{ prop }}
        </span>
        </div>
    </div>
</template>

<script>
    import Colors from '../../theme/scss/_colors.scss';

    export default {
        data() {
            return {
                colors: Colors
            }
        }
    }
</script>

<style lang="scss" scoped>
    .colors {
        display: flex;
        width: 100%;
        font-family: "Fira Sans", Helvetica, Arial, sans-serif;
        flex-wrap: wrap;

        .color {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background: #fff;
            margin-bottom: 20px;
            box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.08), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
            color: #000;
            border-radius: 0;
            overflow: hidden;
            text-align: left;
            width: 150px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;

            span {
                line-height: 1.3;
                width: 100%;
                float: left;
                padding: 0 10px 10px;
                margin-top: auto;
                font-size: 13px;

                em {
                    user-select: none;
                    font-style: normal;
                }
            }
        }

        .swatch {
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            height: 100px;
        }

        h3 {
            line-height: 1.2;
            font-size: 14px;
            width: 100%;
            float: left;
            margin: 0;
            padding: 10px;
        }
    }
</style>