<template>
    <div class="all-tokens">
        <table>
            <thead>
            <tr>
                <th>Token Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(prop, index) in various" :key="index" class="token">
                <td>
                    <code class="name">${{ index.replace(/_/g, "-") }}</code>
                </td>
                <td>
                    <code class="type">{{ prop }}</code>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Various from './various.scss';

    export default {
        data() {
            return {
                various: Various
            }
        }
    }
</script>

<style lang="scss" scoped>
    .all-tokens {
        font-family: "Fira Sans", Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 1;
        color: #000;
        font-style: normal;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }

        thead th {
            padding: 10px;
            background: #e9f3fd;
            font-size: 13px;
            font-weight: 700;
            color: #00264d;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: left;
            // Chrome has a bug related to thead, this only works on th:
            position: -webkit-sticky;
            position: sticky;
            top: -1px;
        }

        tr {
            border-bottom: 1px solid #dfe3e6;

            &:last-child {
                border: 0;
            }
        }

        td {
            font-size: 13px;
            padding: 15px 10px;

            &:first-child {
                font-weight: 700;
                white-space: nowrap;
            }
        }

        .type {
            background: #f0f3f5;
            color: #666d74;
            padding: 4px;
            border-radius: 3px;
        }
    }
</style>