$size-xxxl: 64px !default;
$size-xxl: 48px !default;
$size-xl: 36px !default;
$size-l: 24px !default;
$size-m: 16px !default;
$size-s: 13px !default;
$size-xs: 11px !default;

$font-heading: "Fira Sans", Helvetica, Arial, sans-serif !default;
$font-text: "Fira Sans", Helvetica, Arial, sans-serif !default;

$weight-bold: 700 !default;
$weight-semi-bold: 600 !default;
$weight-normal: 400 !default;
$weight-light: 300 !default;

$line-height-m: 1.6 !default;
$line-height-s: 1.3 !default;
$line-height-xs: 1 !default;

:export {
  size_xxxl: $size-xxxl;
  size_xxl: $size-xxl;
  size_xl: $size-xl;
  size_l: $size-l;
  size_m: $size-m;
  size_s: $size-s;
  size_xs: $size-xs;
  font_heading: $font-heading;
  font_text: $font-text;
  weight_bold: $weight-bold;
  weight_semi_bold: $weight-semi-bold;
  weight_normal: $weight-normal;
  weight_light: $weight-light;
  line_height_m: $line-height-m;
  line_height_s: $line-height-s;
  line_height_xs: $line-height-xs;
}