$shadow-s: 0 0 0 1px rgba(92, 106, 196, 0.1) !default;
$shadow-s-inset: inset 0 0 0 1px rgba(0, 0, 0, 0.05) !default;

$radius-default: 3px !default;
$radius-circle: 50% !default;

:export {
  shadow_s: $shadow-s;
  shadow_s_inset: $shadow-s-inset;
  radius_default: $radius-default;
  radius_circle: $radius-circle;
}