<template>
    <button :class="'btn' + (icon ? ' icon-btn' : '') + (is_loading ? ' btn-loading' : '')" @click="click">
        <span v-if="icon" class="icon" :data-icon="icon"></span>
        <span class="loading-icon">
            <span class="loading-spinner"></span>
        </span>

        <span>
            <slot></slot>
        </span>
    </button>
</template>

<style lang="scss">
    .btn {
        color: red;
    }
</style>

<script>
    /**
     * @displayName Button
     */
    export default {
        props: ['icon', 'loading'],
        data: function () {
            return {
                is_loading: false,
                loading_timeout: false
            }
        },
        methods: {
            click: function () {
                this.$emit('click');
            }
        },
        watch: {
            'loading': function (val) {
                let _this = this;

                if(val == true) {
                    _this.loading_timeout = setTimeout(function () {
                        _this.is_loading = true;
                    }, 200);
                } else {
                    clearTimeout(_this.loading_timeout);
                    _this.is_loading = false;
                }
            }
        }
    }
</script>