code,
pre {
  font-family: Consolas, "Liberation Mono", Menlo, monospace !important;
}

pre:not(.lang-noeditor) {
  color: var(--code-punctuation) !important;

  .token {
    &.attr-value { color: var(--code-attr-value) !important; }
    &.attr-name { color: var(--code-attr-name) !important; }
    &.tag { color: var(--code-tag) !important; }
    &.selector { color: var(--code-selector) !important; }
    &.class { color: var(--code-class) !important; }
    &.property { color: var(--code-attr-name) !important; }
    &.color { color: var(--code-color) !important; }
    &.number { color: var(--code-number) !important; }
    &.unit { color: var(--code-unit) !important; }
    &.keyword { color: var(--code-keyword) !important; }
    &.operator { color: var(--code-punctuation) !important; }
    &.boolean { color: var(--code-boolean) !important; }
    &.function { color: var(--code-function) !important; }
    &.punctuation { color: var(--code-punctuation) !important; }
    &.comment { color: var(--code-comment) !important; }
  }

  &.lang-html {
    .token {
      &.punctuation { color: var(--code-tag) !important; }
    }
  }

  &.lang-css {
    color: var(--code-attr-value) !important;
  }

  &.lang-javascript {

  }
}

pre.lang-noeditor {
  background: var(--white);
}