$white: #fff;
$black: #000;
$accent: #019fe3;

$hinted-grey-1: mix($white, $black, 6%);
$hinted-grey-2: mix($white, $black, 12%);
$hinted-grey-3: mix($white, $black, 18%);
$hinted-grey-4: mix($white, $black, 24%);
$hinted-grey-5: mix($white, $black, 30%);
$hinted-grey-6: mix($white, $black, 36%);
$hinted-grey-7: mix($white, $black, 42%);
$hinted-grey-8: mix($white, $black, 50%);
$hinted-grey-9: mix($white, $black, 58%);
$hinted-grey-10: mix($white, $black, 64%);
$hinted-grey-11: mix($white, $black, 70%);
$hinted-grey-12: mix($white, $black, 76%);
$hinted-grey-13: mix($white, $black, 84%);
$hinted-grey-14: mix($white, $black, 90%);
$hinted-grey-15: mix($white, $black, 96%);

:root {
  --color-accent: #{$accent};
  --color-base: #{$black};
  --color-light: #{$hinted-grey-3};
  --color-lightest: #{$hinted-grey-6};

  --bg-body: #{$hinted-grey-15};
  --bg-base: #{$white};
  --bg-alt: #{$hinted-grey-14};
  --bg-alt-2: #{$hinted-grey-13};

  --bg-table: var(--bg-alt);
  --bg-table-head: var(--bg-alt-2);
  --bg-table-hover: var(--bg-alt-2);

  // Code colors
  --code-background: #282c34;
  --code-base: #fff;
  --code-comment: #{$hinted-grey-8};
  --code-punctuation: #A9B7C6;
  --code-property: #905;
  --code-deleted: #905;
  --code-operator: #A9B7C6;
  --code-keyword: #CC7832;
  --code-function: #FFC66D;
  --code-variable: #e90;
  --code-tag: #E8BF6A;
  --code-attr-name: #BABABA;
  --code-attr-value: #A5C261;
  --code-selector: #CC7832;
  --code-number: #6897BB;
  --code-boolean: #CC7832;
  --code-class: var(--code-tag);
  --code-color: var(--code-tag);
  --code-unit: var(--code-attr-value);
  --code-string: var(--code-attr-value);
  --code-inserted: var(--code-attr-value);
}