h1,
h2,
h3,
h4,
h5 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: 500;
  color: var(--color-base);
  margin: 0 0 20px;
  line-height: 18px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}